nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    position: sticky;
    /* Make the header sticky */
    top: 0;
    /* Position the header at the top of the page */
    transition: .3s;
    z-index: 100;
}